<table class="table table-bordered table-striped">
<thead class="thead-dark">
<tr>
  <th><%= tasks_sortable_link("Description", "description") %></th>
  <th><%= tasks_sortable_link("Status", "status") %></th>
  <th><%= tasks_sortable_link("Priority", "priority") %></th>
  <th><%= tasks_sortable_link("Employee", "employee") %></th>
</tr>
</thead>
<tbody>
<% tasks.each do |task| %>
<tr>
<td><%= task.description %></td>
<td>
  <%= form_with(model: task, method: :patch, html:{ class: "mb-0", data: { remote: true, type: "script", turbolinks: false } } ) do |f| %>
    <%= f.hidden_field :status, value: false %>
    <div class="custom-control custom-checkbox">
      <%= f.check_box :status, { 
            class: "custom-control-input", 
            id: "task_status_#{task.id}", 
            onchange: "this.form.submit();" 
          }, true, false %>
      <%= f.label :status, (task.status ? "Completed" : "Pending"), 
            class: "custom-control-label",  
            for: "task_status_#{task.id}",
            id: "task_status_label_#{task.id}" 
          %>
    </div>
  <% end %>
</td>
<td><%= task.priority.description if task.priority %></td>
<td><%= task.employee.name %> </td>
</tr>
<% end %>
</tbody>
</table>